.eventssect header{
	background-color: transparent;
}
.eventssect header .right ul li{
	color:#fff;
}
.eventssect header.active{
	background-color: #fff;
}
.eventssect header.active .right ul li{
	color:var(--secondary-color);
}
.banner-bg{
	background: url(../images/conference-bg.jpg) no-repeat;
	text-align: center;
	height: 100vh;
	background-size: cover;
}
.conference-bg{
	padding-top: 200px;
}
.timer{
	position: absolute;
	bottom: 20px;
left: 20px;
}
.timer  h2{
font-size: 25px;
text-align: left;
color: #fff;
margin-bottom: 10px;
}
.timer-count {
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 360px;
}
.timer-count .counting {
    position: relative;
    width: 24%;
    border-radius: 6px;
    overflow: hidden;
}
.timer-count .counting .num {
    display: block;
padding: 15px 0;
color: #C9261C;
font-size: 36px;
background-color: #fff;
font-weight: 500;
}
.timer-count .counting .label-txt {
    font-size: 14px;
    display: block;
    letter-spacing: 0.5px;
    font-weight: 500;
    background-color: rgba(255,255,255,0.8);
    padding: 5px 0;
}
.design_conf{
	padding: 90px 0;
	position: relative;
	overflow: hidden;
}
.design_conf:before,.design_conf:after,.reason_dcon:before,.whoattend:before,.whoattend:after{
	content: '';
	background:url(../images/patterns.svg) no-repeat;
	position: absolute;
right: -20%;
width: 400px;
height: 400px;
background-size: 100%;
}
.reason_dcon:before{
right: -19%;
background-size: 100%;
transform: rotate(90deg);
}
.design_conf:after,.whoattend:after{
left: -21%;
right: auto;
top: 20%;
}
.whoattend:before{
	background:url(../images/circlepattern.svg) no-repeat;
	width: 160px;
height: 200px;
right: -40px;
bottom: 0;
}
.whoattend:after{
	top: -80px;
}
.cont-wrap{
	margin:0 auto;
	text-align: center;
	position: relative;
}
.decorateline{
	display: block;
color: #e94b43;
font-size: 13px;
}
.cont-wrap h4{
	font-size: 42px;
line-height: 1.2;
}
.cont-wrap p{
width: 90%;
margin: 0 auto;
}
.reason_dcon{
	padding: 100px 0;
text-align: center;
}
.reason_dcon h5{
	font-size: 40px;
width: 380px;
letter-spacing: -1px;
margin: 0 auto;
position: relative;
}
.reason_dcon h5:before{
	content: '';
	background:url(../images/circlepattern.svg) no-repeat;
left: -17%;
width: 160px;
height: 160px;
background-size: 100%;
position: absolute;
top: -50px;
}
.cols{
	display: flex;
	justify-content: space-between;
	margin-top: 90px;
}
.counter{
display: flex;
width: 70px;
height: 70px;
background-color: #FFF5F4;
font-size: 36px;
color: #e94b43;
align-items: center;
justify-content: center;
border-radius: 10px;
margin-top: -36px;
margin-bottom: 36px;
font-weight: 600;
}
.col_3{
flex-basis: 31%;
border: 1px solid #F78984;
border-radius: 10px;
padding: 0 25px 25px;;
text-align: left;
}
.col_3 h3{
	font-size: 25px;
}
.whoattend img{
	margin-top: 40px;
}
.whoattend h4{
	font-size: 40px;
}
.whoattend p{
	width: 85%;
}
.speakers{
	background-color: #03091C;
	text-align: center;
}
.speakers h2{
	padding-top: 50px;
	color:#fff;
	margin-bottom: 10px;
}
.speakers p{
	color:#fff;
	width: 50%;
margin: 0 auto;
position: relative;
}
.speakers p:before{
	content: '';
	background:url(../images/doublequotes.svg) no-repeat;
	position: absolute;
left: -40px;
width: 100px;
height: 100px;
background-size: 100%;
opacity: 0.3;
top: -30px;
}
.speakers-list{
	margin-top: 50px;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	flex-wrap: wrap;
}
.speakers-list .col_4{
	flex-basis: 25%;
	background-color: #272D36;
	width: 25%;
}

.speaker-img img{
	width: 100%;
}
.speakers-list .col_4:nth-child(even){
	background-color: #22252B;
}
.speakers-list .col_4:last-child{
background-color:#03091C;
background-image:url(../images/innerpattern.svg);
background-repeat: no-repeat;
background-position: 110px 130px;
background-size: 100%;
}
.speakers:before{
	content: '';
	background-image:url(../images/innerpattern.svg);
background-repeat: no-repeat;
background-size: 100%;
width: 210px;
height: 240px;
position: absolute;
left: -80px;
transform: scale(-1);
}
.speakers-details{
	padding: 20px 20px 25px;
	text-align: left;
	color: #fff
}
.speaker-name,.speaker-description{
	display: block;
}
.speaker-name{
	font-weight: 700;
font-size: 20px;
}
.speaker-description{
	color: #B6BBC3;
font-size: 15px;
min-height: 90px;
margin-top: 5px;
}
.speakers-details .social_app ul li{
  border-color: #A0A8B5;
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
.speakers-details .social_app ul li.fb img {
    width: 7px;
}
.speakers-details .social_app ul li img {
    width: 12px;
}
.pricing{
	text-align: center;
padding: 100px 0;
}
.pricing .wrapper{
	padding: 60px 0;
	border:1px solid #E7E7E7;
	border-radius: 10px;
}
.pricing .cont-wrap h4{
font-size: 36px;
font-weight: 600;
}
@media all and (max-width: 768px){
	.cols{
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 40px;
	}
	.col_3{
		flex-basis: 80%;
		margin-top: 90px;
	}
	.speakers-list .col_4{
		flex-basis: 50%;
	}
}
@media all and (max-width: 620px){
	.conference-bg{
		width: 70%;
		margin: 0 auto;
		padding-bottom: 200px;
	}
	.cont-wrap{
		max-width: 90%;
	}
	.cont-wrap h4{
		font-size: 40px;
	}
	.cont-wrap p {
        width: 95%;
	}
	.reason_dcon h5 {
    font-size: 38px;
    line-height: 1.2;
	}
	h2{
		font-size: 28px;
	}
	p{
		font-size: 16px;
	}
	.banner-bg{
		height: auto;
	}
}
@media all and (max-width: 480px){
	.speakers-list .col_4 {
    flex-basis: 100%;
	}
	.speakers p{
		width: 85%;
	}
	.cont-wrap h4 {
    font-size: 34px;
	}
	.counter{
		width: 62px;
height: 62px;
font-size: 30px;
	}
	.col_3 {
    flex-basis: 85%;
	}
}
