* {
padding:0;
margin:0;
box-sizing: border-box;
}
    :root {
    --primary-color:#252729;
    --secondary-color:#333333;
    --active-color:#E94B43;
    }
ol, ul {
 list-style: none;
 padding: 0;
 margin: 0;
}
blockquote, q {
 quotes: none;
}
blockquote::before, blockquote::after, q::before, q::after {
 content: none;
}
:focus {
 outline: 0;
}
ins, a {
 text-decoration: none;
}
del {
 text-decoration: line-through;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}
a{
	color: unset;
}
h1,h2,h3{
 font-weight: normal;
 color:#333;
}
h2{
	font-size: 30px;
	color: var(--primary-color);
	font-weight: 600;
	margin-bottom: 20px;
}
p{
  margin: 0;
	color: var(--secondary-color);
	font-size: 18px;
	    line-height: 1.7;
}

.clearfix {
 clear: both;
 width: 100%;
}
.to-animate{
	opacity: 0;
}
body.overhide{
  overflow: hidden;
}
body{
	margin:0;
	padding: 0;
font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
	color: var(--secondary-color);
  /*color: #fff;*/
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing:;
  text-rendering: optimizelegibility;
      -webkit-font-smoothing: antialiased;
}
.dis-block{
	display: block;
}
.container{
	margin:0;padding:0;
}
.wrapper{
 	max-width: 1150px;
 	margin: 0 auto;
 	position: relative;
}
.flexcontainer{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.flxstart{
  justify-content: flex-start;
}
.align-strat{
  align-items: flex-start;
}
.centerx{
	justify-content: center;
}
.dis-block{
	display: block;
}
.dis-inlineblock{
 	display: inline-block;
}
.hozCenter{
  justify-content:center; 
}
.mt30{
  margin-top: 30px;
}
.mb50{
  margin-bottom: 50px;
}
img{
	max-width: 100%;
}
.section{
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 1;
}
.hamburger {
    width: 25px;
    cursor: pointer;
    position: relative;
    z-index: 22;
    display: none;
}
.hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    margin-bottom: 3px;
    border-radius: 2px;
    transition: all 0.5s ease;
}
.hamburger.open span:first-child {
    transform: rotate(50deg) translate(8px,6px);
}
.hamburger.open span:nth-child(2) {
    opacity: 0;
}
.hamburger.open span:last-child {
    transform: rotate(-50deg);
}
/*header*/
header{
	position: fixed;
	width: 100%;
	background-color: #fff;
	z-index: 2;
	border-bottom: 1px solid transparent;
	box-shadow: 0 0 15px rgba(0,0,0,0);
	transition: all 0.5s ease;
	top: 0;
}
header.active{
	border-color: #f8f8f8;
	box-shadow: 0 0 15px rgba(0,0,0,0.06);
}
header .wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	    padding: 30px 0;
}
header .left{
	display: inline-flex;
}
header .left a{
	display: inline-flex;
}
header .right ul{
	display: flex;
	width: 100%;
}
header .right ul li{
	color: var(--secondary-color);
	margin-right: 40px;
}
header .right ul li a{
	transition: all 0.5s ease;
}
header .right ul li a:hover{
	color:var(--active-color);
}
header .right ul li.active{
	color: var(--active-color);
}
/*header*/

/*banner section*/
.banner_section .wrapper{
		display: flex;
		justify-content: space-between;
}
.banner_section .left{
	width: 55%;
}
.banner_section .right{
	width: 45%;
	position: relative;
}
.banner_section{
	padding: 170px 0 100px;
}
.banner_section h1{
	font-size: 56px;
	font-weight: 600;
	color: var(--primary-color);
	width: 70%;
	    margin-bottom: 20px;
	        line-height: 1.2;
}
.sub_ctn{
	font-size: 14px;
	color: #9B9B9C;
	    width: 65%;
}
/*.sub_ctn span{
	color: 
}*/
.banner_section .left p{
	font-size: 20px;
	width: 86%;
	    margin-bottom: 30px;
}
.btn{
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #E94B43;
	border-radius: 5px;
	margin-bottom: 10px;
	margin-top: 20px;
	transition: all 0.5s ease;
}
.btn:hover span{
	transition: background-color 0.5s ease;
	background-color: #C60E05;
}
.btn img{
	    margin: 0px 10px;
}
.btn.txt-btn:hover span{
	transition: background-color 0.5s ease;
	background-color: transparent;
	color:#C60E05;
}
.btn span{
	background-color: #E94B43;
	padding: 8px 28px;
	color: #fff;
	font-weight: 500;
}

/*what we do section*/
.what_do_we_do{
	padding-bottom: 100px;
}
.what_do_we_do .wrapper{
	display: flex;
	justify-content: space-between;
}
.what_do_we_do .left{
	width: 47%;
}
.what_do_we_do .right{
	width: 40%;
}

/*what_you_will_get*/
.what_you_will_get{
	padding-bottom: 100px;	
}
.what_you_will_get .wrapper{
	display: flex;
	justify-content: space-between;
}
.what_you_will_get .left{
	width: 40%;
}
.what_you_will_get .right{
	width: 40%;
}
.what_you_will_get .right ul li{
	position: relative;
	padding-left: 30px;
	    margin-bottom: 10px;
}
.what_you_will_get .right ul li:before{
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 100%;
	position: absolute;
	left: 0;
	 top: 7px;
	margin: auto 0;
	background-color: var(--active-color);
}

footer p{
	text-align: center;
color: #fff;
font-size: 14px;
margin-top: 70px;
}



/*together_we_can*/
.together_we_can{
	padding-bottom: 100px;
}
.together_we_can .wrapper{
	display: flex;
	justify-content: space-between;
	    align-items: self-start;
}
.sec_p{
	font-size: 16px;
	        margin-bottom: 10px;
}
h3{
	font-size: 20px;
	font-weight: 600;
	        margin-bottom: 10px;
}
.txt-btn{
	border: none;
	font-size: 16px;
}
.txt-btn span{
	font-size: 16px;
	background-color: unset;
	color: var(--active-color);
	padding: 0;
	    text-decoration: underline;
}
.mentor img,.mentee img{
	width: 300px;
	    border: 1px solid #ccc;
	        margin-bottom: 10px;
}
.left-mentors{
width: 64%;
display: flex;
align-items: center;
}
.together{
	width: 30%;
}
.mentor,.together{
	margin-top: 100px;
}
.mentor,.mentee{
width: 46%;
    padding: 20px;
   box-shadow: 2px 1px 18px 0px rgba(173, 166, 166, 0.21);
   border-radius: 5%;
}
.mentor{
	margin-right: 20px;
}
/*box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);*/


/*volunteer*/

.volunteer{
	text-align: center;
	background: rgba(244, 252, 255, 1);
	    padding: 50px 0;
	  margin-bottom: 100px;
}
h4{
	font-size: 30px;
	margin-bottom: 20px;
}
.volunteer p{
    width: 95%;
    margin: 0 auto;
}


/*testimonial*/
.testimonial{
	margin-bottom: 100px;
   /*width: 1000px;*/
	/*width: 600px;*/
}
.testimonial p{
	width: 80%;
	padding-left: 20px;
}
/*.testimonial .innr_wrap{
	width: 300px;
}*/
.testimonial .wrapper{
   box-shadow: 2px 1px 18px 0px rgba(173, 166, 166, 0.21);
   padding: 30px 50px 60px 90px;
   width: 1150px;
   margin: 0 auto;
       display: flex;
    align-items: center;
    justify-content: center;
}
.testimonial .left{
	width: 650px;
	position: relative;
}
.testimonial .left span{
	position: absolute;
	right: 130px;
	    margin-top: 10px;
}
.testimonial .right{
	width: 40%;
}
.testimonial .right img{
	    position: absolute;
    top: auto;
    right: 70px;
    width: 24%;
    bottom: 0;
	}
.quote_small{
	    position: absolute;
    width: 25px;
    left: -30px;
    top: -10px;
}
.testimonial .right img.quote_big{
	    position: absolute;
    width: 100px;
    right: 40px;
    top: -13px;
    z-index: -1;
}



/*contact*/

.contact{
	text-align: center;
	    padding: 50px 0 80px;
}
.contact .wrapper{
    border: 1px solid #E7E7E7;
    padding: 50px 100px;
    border-radius: 30px;
}
.cnt_num,.cnt_add{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
}
.cnt_num img,.cnt_add img{
	margin-right: 10px;
}

/*footer*/
footer .innr_wrap{
	display: flex;
	justify-content: space-between;
}
.footer_nav ul{
	display: flex;
}
.footer_nav ul li{
	margin-right: 20px;
	color: #fff;
}
.social_app ul{
	display: flex;
}
.social_app ul li{
	    margin-right: 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #E84238;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social_app ul li a{
	display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
height: 100%;
}
.social_app ul li img{
	width: 15px;
}
.social_app ul li.fb img{
	width: 10px;
}
footer ul li:last-child{
	margin: 0;
}
footer{
    padding:80px 0 40px;
    background-color: #000;
}
    /**/

@media all and (max-width: 1190px){
	.wrapper{
		max-width:90%;
	}
	.banner_section .left p{
		width: 90%;
	}
	.banner_section h1{
		width: 96%;
	}

}
@media all and (max-width: 1000px){
	.what_you_will_get .right{
		width: 50%;
	}
	.together{
		width: 40%;
	}
	.banner_section h1{
		font-size: 46px;
	}
}
@media all and (max-width: 768px){
	.banner_section .left,.what_do_we_do .left,.what_you_will_get .left {
    width: 90%;
	}
	.banner_section .right,.what_do_we_do .right,.what_you_will_get .right{
    width: 75%;
    margin-top: 30px;
	}
	.mentor, .mentee{
		width: 320px;
	}
	 .what_you_will_get .left{
	 	margin-top: 50px;
	 }
	.banner_section .wrapper,.what_do_we_do .wrapper,.together_we_can .wrapper{
		flex-flow: column;
	}
	.what_you_will_get .wrapper{
		flex-flow: column-reverse;
	}
	.left-mentors {
    width: 90%;
	}
	.together{
		margin-top: 0;
	}
	footer .innr_wrap{
		flex-flow: column;
		align-items: center;
	}
	.footer_nav{
		margin: 30px 0;
	}
	header .right ul li{
		margin-right: 30px;
	}
	.together {
    width: 50%;
	}
}
@media all and (max-width: 630px){
	.banner_section .wrapper, .what_do_we_do .wrapper, .together_we_can .wrapper{
		align-items: center;
	}
	.banner_section .left, .what_do_we_do .left, .what_you_will_get .left{
		text-align: center;
	}
	.banner_section h1,.banner_section .left p {
    width: 100%;
	}
	.sub_ctn{
		margin: 5px auto;
	}
	
	.banner_section .right, .what_do_we_do .right, .what_you_will_get .right{
		width: 100%;
		text-align: center;
	}
	h2{
		margin-bottom: 15px;
	}
	.what_you_will_get .right ul{
		text-align: left;
	}
	.together{
		width: 100%;
		text-align: center;
	}
	header .right ul {
    background: #fff;
    width: 100vw;
    position: absolute;
    padding: 10px;
    left: 0;
    height: 0;
    top: 0;
    padding: 20px 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
    z-index: 0;
    flex-flow: column;
	}
	header .right li {
    margin-right: 0;
    display: block;
    text-align: center;
    margin-bottom: 60px;
	}
	.hamburger{
		display: block;
	}
	header .right ul.open {
    height: 100vh;
    z-index: 22;
    opacity: 1;
    visibility: visible;
}
}
@media all and (max-width: 480px){

.left-mentors,.testimonial .wrapper{
	flex-flow: column;
}
.mentor{
	margin-right: 0;
	margin-bottom: 50px;
}
.testimonial .right img.quote_big{
	width: 60px;
right: 20px;
top: -6px;
}
.testimonial .wrapper{
	padding:30px 0px 0px 30px;
}
.testimonial .left{
	width: 90%;
}
.testimonial .right {
    width: 70%;
    position: relative;
    margin-top:30px;
  }
.testimonial .left span{
	position: inherit;
	margin-top: 10px;
text-align: right;
	right:0;
}
.contact .wrapper{
	padding: 40px 30px;
}
.cnt_num, .cnt_add{
	margin-top: 15px;
}
.banner_section h1 {
    font-size: 32px;
}
.testimonial p {
    width: 100%;
 }
 .testimonial .right img {
    position: relative;
    right: 80px;
width: 100%;
bottom: -6px;
}
.testimonial .right img.quote_big {
width: 100px;
right: 11px;
top: 10px;
 }
h2{
	font-size: 26px;
	line-height: 1.2;
}
p{
	font-size: 16px;
}
.banner_section .left p{
	font-size: 16px;
	margin-bottom: 15px;
}
.sub_ctn{
	width: 90%;
}
.banner_section{
	padding: 130px 0 80px;
}
header .wrapper{
	padding: 25px 0;
}
header .left{
	width: 60%;
}
}
